        .center-block {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
@media only screen and (max-width: 600px) {

    .w-65 {
        width: 100% !important;
    }
}
@media only screen and (max-width: 768px) {

    .w-65 {
        width:80% !important;
    }
}
        .main-wrapper .page-wrapper {
            background-image: linear-gradient(to right top, #2884a185, #4d83c485, #9f74c8a1, #e45ca18f, #ff5b5ba1);
        }
