.col-space{
        margin-bottom: 25px;
    }
    .card-top{
            border-top: 0px !important;
    }
    .img-class{
        width: 100px !important;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
    .img-center{
        background-color:#d6e0ea;
        display: inline-block;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
